body {
  min-height: 100vh;
  background: #f0eded;
}

.App {
  margin-left: 0;
  /* color: blue; */
}

.main {
  height: 94vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./public/casque.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.faspotify {
  display: flex;
  color: black;
}
.icons {
  background-color: #198754;
  height: 50px;
  width: 50px;
}
